::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #807c7c;
    border-radius: 6px;
    display: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #302f2f;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }